{% extends "index.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
  		<div class="col-sm-5 col-md-3">
  			<div class="accordion" id="accordionExample">
			  <div class="card">
			    <div class="card-header" id="headingOne">
			      <h2 class="mb-0">
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Mis Datos
			        </button>
			      </h2>
			    </div>

			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
			      <div class="card-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="headingTwo">
			      <h2 class="mb-0">
			        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Pedidos Guardados
			        </button>
			      </h2>
			    </div>
			    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      </div>
			    </div>
			  </div>
			  <div class="card">
				    <div class="card-header" id="headingThree">
				      <h2 class="mb-0">
				        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Novedades
				        </button>
				      </h2>
				    </div>
			   </div>
  			</div>
  		</div>

  		<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
  			{% for accesos in datos.accesos_rapidos %}
			<div class="card">
				<div class="card-header">
				    {{accesos.titulo}}
				</div>
				<div class="card-body">
				    <h5 class="card-title">{{accesos.subtitulo}}</h5>
				    <p class="card-text">{{accesos.descripcion}}</p>
				    <a href="#" class="btn btn-primary">{{accesos.boton}}</a>
				</div>
			</div>
			<br>
			{% endfor %}
			<!--
			<div class="card">
				<div class="card-header">
				    Gestionar Mis Pedidos
				</div>
				<div class="card-body">
				    <h5 class="card-title">Mis Pedidos</h5>
				    <p class="card-text">Ver pedidos previos y actuales</p>
				    <a href="#" class="btn btn-primary">Ver Pedidos</a>
				</div>
			</div>
			-->

		</div>
	</div>
</div>
<br>
{% endblock %}