{% block acordeon %}
<div class="col-sm-5 col-md-3">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h6 align = "center">
          {% if datos.username == 'operador' %}
            <a align="right" href="{{ url_for('gestion_usuario.home_operador') }}" role="button">Home</a>
          {% endif %}
          {% if datos.username == 'cliente' %}
            <a align="right" href="{{ url_for('gestion_usuario.home_cliente') }}" role="button">Home</a>
          {% endif %}
        </h6>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingOne">
        <h6 align = "center">
          <a align="right" href="#" role="button">Mis Datos</a>

        </h6>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>{{ datos.username }}</p>
          <p>{{ datos.email }}</p>
          <p>Teléfono Principal: {{ datos.tel_principal }}</p>
          {% if datos.tel_secundario is not none %}
          <p>{{ datos.tel_secundario }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
