{% block acordeon %}
<div class="col-sm-5 col-md-3">
  <div class="accordion" id="accordionExample">

    {% if datos.username == 'operador' %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h6 align = "center">
            <a align="right" href="{{ url_for('gestion_usuario.home_operador') }}" role="button">Home</a>
        </h6>
      </div>
    </div>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h6 align = "center">
          <a align="right" href="{{ url_for('gestion_usuario.cambiar_contraseña', b='f') }}" role="button">Cambiar contraseña</a>
          </h6>
        </div>
      </div>
    {% endif %}
    {% if datos.username == 'cliente' %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h6 align = "center">
            <a align="right" href="{{ url_for('gestion_usuario.home_cliente') }}" role="button">Home</a>
        </h6>
      </div>
    </div>
      <div class="card">
        <div class="card-header" id="headingOne">
          <h6 align = "center">
          <a align="right" href="{{ url_for('gestion_usuario.cambiar_contraseña', b='f') }}" role="button">Cambiar contraseña</a>
          </h6>
        </div>
      </div>


    {% endif %}


    <div class="card">
      <div class="card-header" id="headingOne">
        <h6 align = "center">
          <a align="right" href="#" role="button">Mis Datos</a>

        </h6>
    </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>Usuario: {{ datos.username }}</p>
          <p>Email: {{ datos.email }}</p>
          <p>Teléfono Principal: {{ datos.tel_principal }}</p>
          {% if datos.tel_secundario is not none %}
          <p>Teléfono Secundario{{ datos.tel_secundario }}</p>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
