{% block acordeon %}
<div class="col-sm-5 col-md-3">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Mis Datos
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>{{ datos.username }}</p>
          <p>{{ datos.email }}</p>
          <p>Teléfono Principal: {{ datos.tel_principal }}</p>
          {% if datos.tel_secundario is not none %}
          <p>{{ datos.tel_secundario }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
