{% extends 'base.html'%}

{% block content %}
	<div class="container-fluid">
		<div class="row">

	  	{% include "acordeon_perfil_usuario.html" %}
			<div class="col-sm-5 offset-sm-2 col-md-9 offset-md-0">
				<div class="row row-cols-1 row-cols-md-3">

					<div class="col mb-4">
						<div class="card h-100" style="height: 18rem;">
							<div class="card-body">
								<h3 align="center" class="card-title">Paso 1: </h3>
								<div class="card-body">
								<p> Siendo cliente de nuestra distribuidora, debe seleccionar uno o varios de nuestros productos indicando la cantidad deseada. </p>
						 		</div>
							</div>
						</div>
					</div>


					<div class="col mb-4">
						<div class="card h-100" style="height: 18rem;">

							<div class="card-body">
								<h3 align="center" class="card-title">Paso 2:</h3>
								<div class="card-body">
								<p> Luego de haber elegido el/los producto/s siga los pasos indicando forma de envió y oprima el botón de crear nuevo pedido. </p>
						 		</div>
							</div>

						</div>
					</div>

					<div class="col mb-4">
						<div class="card h-100" style="height: 18rem;">

							<div align="center" class="card-body">
								<h3 class="card-title">Paso 3:</h3>
								<div class="card-body">
								<p> En el transcurso de espera de confirmacion del pedido por parte de nuestros operadores, usted podra modificar su pedido en caso de que lo desee </p>
						 		</div>
							</div>

						</div>
					</div>


					<div class="col mb-4">
						<div class="card h-100" style="height: 18rem;">

							<div class="card-body">
								<h3 align="center" class="card-title">Paso 4:</h3>
								<div class="card-body">
								<p> Por ultimo usted recibirá un email informativo, el cual contendra el detalle de su pedido
									con todos los datos pertinentes al mismo, inclusive fecha de entrega y monto a abonar.</p>
						 		</div>
							</div>

						</div>
					</div>

					<div class="col mb-4">
						<div class="card h-100" style="height: 18rem;">

							<div class="card-body">
								<h3 align="center" class="card-title">Informacion Adicional</h3>
								<div class="card-body">
								<p> Estimado cliente, le informamos que usted también podra generar un pedido basado en la existencia de uno
									realizado anteriormente, pudiendo modificarlo si asi lo quisiera.</p>
						 		</div>
							</div>

						</div>
					</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}
