{% extends 'base.html'%}

{% block content %}


<div class="col-sm-5 offset-sm-7 col-md-6 offset-md-3">
<div class="jumbotron">
  <h1 class="display-4">Comunicate con nosotros</h1>
  <p class="lead">Ante cualquier duda o consulta, puede comunicarse con nosotros a través de los siguientes medios</p>
  <hr class="my-4">
  <h4>Tel: <p><br><i class="fas fa-phone"></i>0237-4662483</p></h4></p>
  <br><br>
  <h4>Mails:
  	<br>
  	<br>
	      		<p><i class="fas fa-envelope"></i> Email: <a href="mailto:nardo@yahoo.com.ar">nardo@yahoo.com.ar</a></p>
	<br>
	      		<p><i class="fas fa-envelope"></i> Email: <a href="mailto:paulaavazquez1972@gmail.com">paulaavazquez1972@gmail.com</a></p>
  
</div>
</div>



{% endblock %}