{% extends "base.html" %}

{% block content %}

<h1>Distribuidora Vazquez</h1>


<br><br>
<div class="container">
	<div class="card-deck text-center " style="width: 70rem;">
  <div class="card">
    <img class="card-img-top" src="./static/img/index/pic4.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Variedad de Productos</h5>
      <p class="card-text">Podrás encontrar una gama extensa de productos.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./static/img/index/pic6.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Calidad</h5>
      <p class="card-text">Trabajamos con las mejores marcas brindando acercado un productos de excelencia.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./static/img/index/pic5.jpg" alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">Precios</h5>
      <p class="card-text">Encontraras los mejores precios en nuestros productos.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>
<br><br>
<div class="container">
	<div class="card-deck text-center " style="width: 70rem;">
  <div class="card">
    <img class="card-img-top" src="./static/img/index/pic1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Armá tu pedido</h5>
      <p class="card-text">Podrás crear tu propio pedido desde la comidad de tu casa.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./static/img/index/pic7.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Logística</h5>
      <p class="card-text">Nosotros te llevamos el pedido!</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./static/img/index/pic3.jpg" alt="Card image cap" >
    <div class="card-body">
      <h5 class="card-title">Registrate</h5>
      <p class="card-text">Podrás registrarte a nuestro sitio y disfrutar de todos los beneficios.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>

<br><br>
{% endblock %}