{% extends 'base.html'%}

{% block content %}
	<h1>Distribuidora Vazquez</h1>

<h4> Operador: Willy</h4>


<br><br>


<div class="row">
    <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Pedidos
      </div>
      <div class="card-body">
        <p class="card-text">Permite getionar los pedidos.</p>
        <a href="#" class="btn btn-primary"> Gestion de pedidos</a>
      </div>
    </div>
  </div>

    <br>


  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Stock
      </div>
      <div class="card-body">
        <p class="card-text">Permite getionar el stock.</p>
        <a href="#" class="btn btn-primary"> Actualizar de stock</a>
      </div>
    </div>
  </div>


    <br>
    <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Precios
      </div>
      <div class="card-body">
        <p class="card-text">Permite gestionar los precios.</p>
        <a href="#" class="btn btn-primary"> Actualizar lista de precios</a>
      </div>
    </div>
  </div>

</div>
<br><br>
<div class="row">
    <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Productos
      </div>
      <div class="card-body">
        <p class="card-text">Permite getionar los productos.</p>
        <a href="#" class="btn btn-primary"> Nuevo Producto</a><br><br>
      </div>
    </div>
  </div>

    <br>


  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Stock
      </div>
      <div class="card-body">
        <p class="card-text">Permite getionar el stock.</p>
        <a href="#" class="btn btn-primary"> Actualizar de stock</a>
      </div>
    </div>
  </div>


    <br>
    <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        Precios
      </div>
      <div class="card-body">
        <p class="card-text">Permite gestionar los precios.</p>
        <a href="#" class="btn btn-primary"> Actualizar lista de precios</a>
      </div>
    </div>
  </div>

</div>


{% endblock %}