{% extends "index.html" %}

{% block content %}
	<h2>ESTE ES EL DETALLE DEL PRODUCTO</h2>
	<div class="container-fluid">
    	<div class="row">
    		<div class="col-sm-5 offset-sm-7 col-md-9 offset-md-0">
        		<div class="row row-cols-9 row-cols-md-3">
    	   			{% for p in productos %}
    	   				<div class="col mb-9" style="padding:5px">
	    	   				<div class="card">
	                  			<img src="/static/img/productos/default.svg" class="card-img-top" alt="producto" width="100%" height="100">
	                  			<div class="card-body">
				  					
				  					<p>Producto: </p>
				  					<p><small>Envase {{p.descripcion}}</small></p>
				  					<p><small>Descripción:</small></p>
				  					<p>Precio $ {{p.precio}}</p>
				  					
				  					<form  action="{{ url_for('producto.detalle_producto', producto=p.producto_envase_id) }}" method="POST">
				    					{{ form.hidden_tag() }}
				    					<div class="form-group">
				      						{{ form.producto_id.label }} {{ form.producto_id(value= p.producto_envase_id, disabled=True ) }}
				      						{{ form.cantidad.label }} {{ form.cantidad }}
				      					</div>
			      						<div class="form-group">
				        					{{ form.submit() }}
				        				</div>
					  				</form>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>	  
            
{% endblock %}
