{% extends "index.html" %}

{% block content %}
{% include "flash_errors.html" %}
	<div class="container-fluid">
    	<div class="row">
    		<div class="col-sm-5 offset-sm-7 col-md-6 offset-md-3">
        		<div class="row row-cols-9 row-cols-md-3">

    	   			{% for p in otro_listado %}
    	   				<div class="col mb-9" style="padding:5px">
                  
	    	   				<div class="card">
	                  			
	                   <div class="card-body">

				  					<img src="{{ url_for('static', filename=p.path_img ) }}"  width="550" height="200" class="card-img-top" alt="producto">
				  					<p><small>Producto: {{ p.descripcion }}</small> </p>
                    <p><small>Marca: {{ p.marca }}</small> </p>

				  					<p><small>Envase  {{ p.envase }} {{ p.unidad_medida }}</small></p>
				  					<p><small>Tipo de Producto {{ p.tipo_producto }} </small></p>
				  					<p><small>Precio $ {{ p.precio }}</small></p>
				  					{% if cliente %}
				  					<form  action="{{ url_for('producto.listar_productos', producto_envase_id=p.producto_envase_id) }}" method="POST">
				    					{{ form.hidden_tag() }}
				    					<div class="form-group">
				      						<small>{{ form.cantidad.label }} {{ form.cantidad }}</small>
				      					</div>
			      						<div class="form-group">
				        					{{ form.submit(class="btn btn-primary mb-2") }}
				        				</div>
					  				</form>
					  				{% endif %}
                  
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>	  

	    <!-- Pagination Links-->


          <div align = "right">
              <a href="{{ url_for('producto.listar_productos', page=producto.prev_num) }}"
                 class="btn btn-outline-dark
                 {% if producto.page == 1 %}disabled{% endif %}">
                  &laquo;
              </a>
              <!-- Loop through the number of pages to display a link for each-->

                {% for page_num in producto.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                  {% if page_num %}
                  <!-- Check for the active page and set the link to "Active"-->
                        {% if producto.page == page_num %}
                          <a href="{{ url_for('producto.listar_productos', page=page_num) }}"
                            class="btn btn-dark">
                              {{ page_num }}
                          </a>
                        {% else %}
                          <a href="{{ url_for('producto.listar_productos', page=page_num) }}"
                            class="btn btn-outline-dark">
                              {{ page_num }}
                            </a>
                        {% endif %}
                  {% else %}
                    ...
                  {% endif %}
                {% endfor %}

                <a href="{{ url_for('producto.listar_productos', page=producto.next_num) }}"
                   class="btn btn-outline-dark
                   {% if producto.page == producto.pages %}disabled{% endif %}">
                    &raquo;
                </a>
                <p >
                   Página {{ producto.page }} de {{ producto.pages }}
                </p>
            </div>
            
{% endblock %}
