{% block tabla_movimientos %}
<div class="container">
  <h2 align="center" >Resultado de la consulta</h2>
  <p>Productos </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Marca</th>
        <th>Unidad Medida</th>
        <th>Precio</th>
        <th>Tipo Producto</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      {% for r in products %}
      <tr>
        <td>{{r['producto']}}</td>
        <td>{{r['marca']}}</td>
        <td>{{r['umedida']}} {{r['envase']}}</td>
        <td>${{r['precio']}}</td>
        <td>{{r['tipoProd']}}</td>
        <td>{{r['stock']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <span style="float:right">
    <a id="confirmar" data-toggle="modal" data-target="#linkModal" class="btn btn-primary" href="{{ url_for('producto.eliminar_producto', producto=products[0]['producto'],marca=products[0]['marca'],umed=products[0]['umedida']) }}">Eliminar</a>
  </span>
</div>

{% include "modal_form.html" %}
<script type="text/javascript">

  document.getElementById('link_confirm').addEventListener('click', eliminarProd);
  function eliminarProd(){
    let a = document.getElementById("confirmar");
    console.log(a.href);
    window.location.href = a.href;
  }
</script>


{% endblock %}
