<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{url_for('static', filename='invoice.css')}}" media="print" rel="stylesheet">
    <title>Informe de Productos mas vendidos</title>
    <meta name="description" content="Invoice demo sample">
    <meta name="author" content="Kozea">
  </head>

  <body>
    {% include "informacion_distribuidora.html"%}
    <h2 align="center">Resultado de la Consulta</h2>
    <p class="lead">Productos mas vendidos en el periodo: <p class="lead"><i>{{ desde }} / {{ hasta }}</i></p> </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Marca</th>
          <th>Unidad Medida</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Recaudacion</th>
        </tr>
      </thead>
      <tbody>
        {% for r in resultado %}
        <tr>
          <td>{{r['producto']}}</td>
          <td>{{r['marca']}}</td>
          <td>{{r['umedida']}} {{r['envase']}}</td>
            <td>{{r['precio']}} </td>
            {% if r['cantidad'] == None %}
              <td>{{0}}</td>
            {% else  %}
              <td>{{     r['cantidad']}}</td>
            {% endif  %}

            {% if r['recaudacion'] == None %}
              <td>{{0}}</td>
            {% else  %}
              <td>$ {{r['recaudacion']}}</td>
            {% endif  %}

        </tr>
        {% endfor %}

      </tbody>
    </table>
  </body>
</html>
