{% block tabla_movimientos %}
<div class="container">
  <h2 align="center" >Resultado de la consulta</h2>
  <p>Stock </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Marca</th>
        <th>Unidad Medida</th>
        <th>precio </th>
        <th>Stock </th>

      </tr>
    </thead>
    <tbody>
      {% for r in resultado %}
      <tr>
        <td>{{r['producto']}}</td>
        <td>{{r['marca']}}</td>
        <td>{{r['umedida']}}</td>
        <td>{{r['precio']}}</td>
          <td>{{r['stock']}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}
