{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
      <div class="row">
        {% include "acordeon_perfil_usuario.html" %}
        <div class="col-sm-5 offset-sm-7 col-md-9 offset-md-0">
          {% include "flash_errors.html" %}
          <div>
              <h3>Detalle del Pedido</h3>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Envase</th>
                    <th scope="col">Motivo</th>
                  </tr>
                </thead>
                <tbody>

                  {% for d in det_pedido %}
                  <tr>
                    <td>{{ d.desc_producto }}</td>
                    <td>{{ d.desc_marca }}</td>
                    <td>{{ d.desc_envase }} {{ d.desc_unidad_medida}}</td>
                    <td>
                      <form id="myForm" class="form-inline" action="{{ url_for('devoluciones.ver_detalle', detalle=d.producto_envase_id, cantidad=d.cantidad, pedido=d.pedido_id, detalle_pedido=d.detalle_id) }}" method="POST">

                        {{ form.hidden_tag() }}
                        <div class="form-group mb-2">
                          {{ form.motivo(class="form-control w-50") }}
                          <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger" style="margin-left: 5%;"> Agregar </button>
                        </div>
                      </form>
                    </td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div align="right" >
              <a id="devolver" class="btn btn-primary" href="{{ url_for('devoluciones.index')}}">Confirmar Devolución</a>
            </div>
          </div>
        </div>
</div>
{% include "modal_form.html" %}
{% include "js_form_modal.html" %}

{% endblock %}
