{% extends "index.html" %}

{% block content %}
{% include "flash_errors.html" %}
	<div class="container-fluid">
		<div class="row">
			 {% include "acordeon_perfil_usuario.html" %}
			<div class="col-sm-5 offset-sm-2 col-md-9 offset-md-0">
				<div class="row row-cols-1 row-cols-md-3">
				  <div class="col mb-4">
					<div class="card h-100" style="height: 18rem;">
						<img src="{{ url_for('static', filename='signature.svg') }}" class="card-img-top" alt="Consultar stock" width="100%" height="100">
						<div class="card-body">
							<h5 class="card-title">Consultar Devolución</h5>
							<p class="card-text">Podrás consultar las devoluciones que esten en curso.</p>
						</div>
						<div class="card-footer">
							<center>
								<a class="btn btn-primary btn-sm" href="{{ url_for('devoluciones.listar_devoluciones') }}" role="button">Consultar</a>
							</center>
						</div>
					</div>
				  </div>
				  <div class="col mb-4">
				    <div class="card h-100">
				      <img src="{{ url_for('static', filename='refund.svg') }}" class="card-img-top" alt="Realizar Devolución" width="100%" height="100">
				      <div class="card-body">
				        <h5 class="card-title">Nuevo Devolución</h5>
				        <p class="card-text">Podrás generar una solicitud de devolución de pedidos anteriores.</p>
				      </div>
				      	<div class="card-footer">
								<center>
									<a align = "center" class="btn btn-primary btn-sm" href="{{ url_for('devoluciones.listar_pedidos_para_devolucion') }}" role="button">Generar</a>
								</center>
    					</div>
				    </div>
				  </div>
				  </div>
				</div>
</div>

<br>
{% endblock %}
