{% extends "index.html" %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			{% include "acordeon_perfil_usuario.html" %}

			<div class="col-sm-5 offset-sm-2 col-md-9 offset-md-0">
				<div class="row row-cols-1 row-cols-md-3">
				  <div class="col mb-4">
				    <div class="card h-100" style="height: 18rem;">
				      <img src="static/img/stock/consultar.svg" class="card-img-top" alt="Consultar stock" width="100%" height="100">
				      <div class="card-body">
				        <h5 align="center" class="card-title">Consultar Precio Producto</h5>
				        <p align="center" class="card-text">Podrás consultar los productos disponibles y los que están a la venta.</p>
				      </div>
				      <div align="center" class="card-footer">
						<a class="btn btn-primary btn-sm" href="{{ url_for('lista_precio.consultar_lista_precio') }}" role="button">Consultar</a>
    				</div>
				    </div>
				  </div>
				  <div class="col mb-4">
				    <div class="card h-100">
				      <img src="static/img/productos/modificar.svg" class="card-img-top" alt="modificar lista de precio" width="100%" height="100">
				      <div class="card-body">
				        <h5 align="center" class="card-title">Modificar Lista de Precio</h5>
				        <p align="center" class="card-text">Podrás modificar una lista de precio existente.</p>
				      </div>
				      <div align="center"class="card-footer">
						<a class="btn btn-primary btn-sm" href="{{ url_for('lista_precio.modificar') }}" role="button">Modificar Lista de Precio</a>
    				</div>
				    </div>
				  </div>

				  <div class="col mb-4">
				    <div class="card h-100">
				      <img src="static/img/stock/importar.svg" class="card-img-top" alt="importar lista de precio" width="100%" height="100">
				      <div class="card-body">
				        <h5 align="center" class="card-title">Importar Lista de Precios</h5>
				        <p align="center" class="card-text">Podrás importar de forma masiva una lista de precios por medio de un archivo csv/xlsx.</p>
				      </div>
				      <div align="center" class="card-footer">
						<a class="btn btn-primary btn-sm" href="{{ url_for('lista_precio.importar') }}" role="button">Importar Lista de Precio</a>
    				</div>
				    </div>
				  </div>
				  <div class="col mb-4">
				    <div class="card h-100">
				      <img src="static/img/stock/exportar.svg" class="card-img-top" alt="exportar lista de precio" width="100%" height="100">
				      <div class="card-body">
				        <h5 align="center" class="card-title">Exportar Lista de Precios</h5>
				        <p align="center" class="card-text">Podrás exportar a un archivo csv/xlsx la última lista de precio disponible.</p>
				      </div>
				      <div align="center" class="card-footer">
						<a class="btn btn-primary btn-sm" href="{{ url_for('lista_precio.exportar') }}" role="button">Exportar Lista de Precio</a>
    				</div>
				    </div>
				  </div>
				</div>
</div>

<br>
{% endblock %}
