{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    {% include "acordeon_perfil_usuario.html" %}

    <div class="col-sm-5 offset-sm-7 col-md-9 offset-md-0">
      <div class="row row-cols-9 row-cols-md-3">
        <div class="col mb-9" >
          <div class="card h-100" style="width: 50rem;">

            <div class="card-body">

              <p>Para cargar de forma masiva uns lista de precios es necesario un archivo con extensión CSV con los siguientes datos:</p>
              {% include "flash_errors.html" %}
              <table class="table">
                <caption>Estructura del archivo a modo de ejemplo</caption>
                <thead>
                  <tr>
                    <th>FECHA_DESDE</small></th>
                    <th>FECHA_HASTA</th>
                    <th>PRODUCTO_ENVASE</th>
                    <th>PRECIO</th>
                    <th>LISTA_PRECIO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>12/01/2019</td>
                    <td>12/01/2020</td>
                    <td style="align: center;">1</td>
                    <td>12,78</td>
                    <td>1</td>
                  </tr>
                </tbody>
              </table>
              <form method="post" action="{{ url_for('lista_precio.importar_lista_precio') }}" enctype="multipart/form-data">
                <dl>
                  <p>
                    <input type="file" name="file" autocomplete="off" required>
                  </p>
                </dl>
                <p><input type="submit" class="btn btn-success" value="Cargar"></p>
              </form>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock%}