{% block tabla_movimientos %}
<div class="container">
  <h2>Resultado</h2>
  <p>Stock actual del producto seleccionado:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Producto</th>
        <th>Descipcion</th>
        <th>Stock</th>
      </tr>
    </thead>
    <tbody>
      {% for r in resultado %}
      <tr>
        <td>{{ r.producto_id }}</td>
        <td>{{ r.ts_created }}</td>
        <td>{{ r.descripcion }}</td>
        <td>{{ r.stock }}</td>

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}
