{% block tabla_movimientos %}
<div class="container">
  <h2>Resultado de la consulta</h2>
  <p>Movimientos del stock </p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Marca</th>
        <th>Unidad Medida</th>
        <th>Cantidad</th>
        <th>Usuario</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      {% for r in resultado %}
      <tr>
        <td>{{r['descripcion_p']}}</td>
        <td>{{r['descripcion_m']}}</td>
        <td>{{r['descripcion']}}</td>
        <td>{{r['cantidad']}}</td>
        <td>{{r['username']}}</td>
        <td>{{r['fecha']}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}
