
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="{{url_for('static', filename='invoice.css')}}" media="print" rel="stylesheet">
    <title>Consulta de Movimientos de Stock</title>
    <meta name="description" content="Invoice demo sample">
    <meta name="author" content="Kozea">
  </head>

  <body>
    {% include "informacion_distribuidora.html"%}
    <h2 align="center">Resultado de la Consulta</h2>
    <p class="lead">Movimientos del stock en el periodo: <p class="lead"><i>{{ desde }} / {{ hasta }}</i></p></p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Marca</th>
          <th scope="col">Unidad Medida</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Tipo Mov.</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        {% for r in resultado %}
        <tr>
          <td>{{r['d_producto']}}</td>
          <td>{{r['d_marca']}}</td>
          <td>{{r['d_unidad_medida']}}</td>
          <td>{{r['cantidad']}}</td>
          <td>{{r['d_tipo_movimiento']}}</td>
          <td>{{r['fecha']}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </body>
</html>

