<h3>DETALLE DEL PEDIDO</h3>
{% include "flash_errors.html" %}
<ul>
    {% for d in detalle %}
      <li>{{ d }}</li>
      <a href="{{ url_for('pedido.eliminar_producto_detalle', pedido=d.pedido_id, producto_envase_id=d.producto_envase_id, detalle_pedido=d.detalle_id) }}">Eliminar Producto</a>
      <form  action="{{ url_for('pedido.modificar_detalle_producto', pedido=d.pedido_id, producto_envase_id=d.producto_envase_id, detalle_pedido=d.detalle_id) }}" method="POST">

        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.cantidad.label }} {{ form.cantidad }}
          <div class="form-group">
            {{ form.submit() }}
      </form>
    {% endfor %}
</ul>
