{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
      <div class="row">
        {% include "acordeon_perfil_usuario.html" %}
        <div class="col-sm-5 offset-sm-7 col-md-9 offset-md-0">
          {% include "flash_errors.html" %}
          <div>
              <h3>Detalle del Pedido</h3>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Envase</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>

                  {% for d in detalle %}
                  <tr>
                    <td>{{ d.desc_producto }}</td>
                    <td>{{ d.desc_marca }}</td>
                    <td>{{ d.desc_envase }} {{ d.desc_unidad_medida}}</td>
                    <td>{{ d.cantidad }}</td>
                    <td>$ {{ d.precio }}</td>
                    <td>$ {{ d.total }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
               <a data-toggle="modal" data-target="#exampleModal" class="btn btn-primary" href="{{ url_for('pedido.repetir_pedido', pedido=detalle[0]['pedido_id']) }}">Repetir Pedido</a>
            </div>
          </div>
        </div>
</div>
    
{% include "modal_form.html" %}
{% include "js_form_modal.html" %}

{% endblock %}


