{% extends "index.html" %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			 {% include "acordeon_perfil_usuario.html" %}
			<div class="col-sm-5 offset-sm-2 col-md-9 offset-md-0">
				<div class="row row-cols-1 row-cols-md-3">
				  <div class="col mb-4">
				    <div class="card h-100" style="height: 18rem;">
				      <img src="static/img/stock/consultar.svg" class="card-img-top" alt="Consultar stock" width="100%" height="100">
				      <div class="card-body">
				        <h5 class="card-title">Consultar Movimiento</h5>
				        <p class="card-text">Podrás consular los movimientos de cada Cuenta Corriente.</p>
				      </div>
				      <div class="card-footer">
						<a class="btn btn-primary btn-sm" href="{{ url_for('cta_corriente.consultar_cta_corriente') }}" role="button">Consultar</a>
    				</div>
				    </div>
				  </div>
				  <div class="col mb-4">
				    <div class="card h-100">
				      <img src="static/img/stock/nuevo_movimiento.svg" class="card-img-top" alt="Realizar Devolución" width="100%" height="100">
				      <div class="card-body">
				        <h5 class="card-title">Nuevo Movimiento</h5>
				        <p class="card-text">Podrás dar entrada a un nuevo movimiento a una Cuenta Corriente determinada.</p>
				      </div>
				      <div class="card-footer">
						<a class="btn btn-primary btn-sm" href="{{ url_for('cta_corriente.agregar') }}" role="button">Nuevo Movimiento</a>
    				</div>
				    </div>
				  </div>
					<div class="col mb-4">
					 <div class="card h-100">
						 <img src="static/img/stock/nuevo_movimiento.svg" class="card-img-top" alt="Realizar Devolución" width="100%" height="100">
						 <div class="card-body">
							 <h5 class="card-title">Consultar Saldo</h5>
							 <p class="card-text">Podrás Consultar El Saldo De Una Cuenta Corriente determinada.</p>
						 </div>
						 <div class="card-footer">
					 <a class="btn btn-primary btn-sm" href="{{ url_for('cta_corriente.consultar_saldo') }}" role="button">Consultar</a>
					 </div>
					 </div>
				 </div>
				  <div class="col mb-4">
				    <div class="card h-100">
				      <img src="static/img/stock/importar.svg" class="card-img-top" alt="Ver Pedidos" width="100%" height="100">
				      <div class="card-body">
				        <h5 class="card-title">Importar Movimientos</h5>
				        <p class="card-text">Podrás importar de forma masiva movimientos anteriores por medio de un archivo csv/xlsx.</p>
				      </div>
				      <div class="card-footer">
						<a class="btn btn-primary btn-sm" href="{{ url_for('cta_corriente.importar') }}" role="button">Importar Movimientos</a>
    				</div>
				    </div>
				  </div>
				  <div class="col mb-4">
				    <div class="card h-100">
				      <img src="static/img/stock/exportar.svg" class="card-img-top" alt="Editar Perfil" width="100%" height="100">
				      <div class="card-body">
				        <h5 class="card-title">Exportar Movimientos</h5>
				        <p class="card-text">Podras exportar a un archivo csv/xlsx la consulta de movimientos.</p>
				      </div>
				      <div class="card-footer">
						<a class="btn btn-primary btn-sm" href="{{ url_for('cta_corriente.exportar') }}" role="button">Exportar Movimientos</a>
    				</div>
				    </div>
				  </div>
				</div>
</div>

<br>
{% endblock %}
