{% extends "base.html" %}

  {% block content %}
    <div class="container-fluid">
      <div class="row">

        {% include "acordeon_perfil_usuario.html" %}

        <div class="col-sm-5 offset-sm-2 col-md-9 offset-md-0">
			<div class="row row-cols-1 row-cols-md-3">
				<div class="col mb-4">
				 	<div class="card h-100" style="height: 18rem;">
				    	<img src="{{ url_for('static', filename='img/nuevo_mensaje.svg') }}" class="card-img-top" alt="Nuevo Mensaje" width="100%" height="100">
				      	<div class="card-body">
				        	<h5 class="card-title">Nueva Notificación</h5>
				        	{% if role == 'Operador' %}
				        		<p>Escribe una notificación a los Clientes</p>
				        	{% else %}
				        		<p class="card-text">Escribe una notificación al Operador</p>
				        	{% endif %}
				      	</div>
				      	<div class="card-footer">
							<center>
								<a class="btn btn-primary btn-sm" href="{{ url_for('mensajes.enviar_mensaje') }}" role="button">Ver Más</a>
							</center>	
    					</div>
				    </div>
				 </div>
				    <div class="col mb-4">
				    <div class="card h-100" style="height: 18rem;">
				    	<img src="{{ url_for('static', filename='img/mensaje.svg') }}" alt="Mis Notificaciones" width="100%" height="100">
				      	<div class="card-body">
				        	<h5 class="card-title">Ver Mis Notificaciones</h5>
				        	<p class="card-text">Podés revisar las novedades aquí.</p>
				      	</div>
				      	<div class="card-footer">
							<center>
								<a class="btn btn-primary btn-sm" href="{{ url_for('mensajes.listar_mensajes') }}" role="button">Ver Más</a>
							</center>	
    					</div>
				    </div> </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}