{# Extendemos de la clase base, de esta manera reutilizamos código #}
{% extends "base.html" %}

{# Sección donde vamos a crear nuestro formulario de Nueva Provincia #}
{% block content %}

<div class="jumbotron">
	<h1>Nueva Localidad</h1>
	<p>Agregar una nueva localidad a nuestro sistema</p>
	<form method="POST">
		<div class="form-group">
			{{ form.csrf_token }}
			{{ form.descripcion.label }} {{ form.descripcion(class="form-control") }}
			{{ form.provincia.label }} {{ form.provincia() }}
			{{ form.submit }}
			
		</div>
	</form>
</div>

{% endblock %}