{% extends "base.html" %}

{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
			<form class="form-example" action="" method="POST">
				{{ form.hidden_tag() }}
			    <h1>Registrarse</h1>
				
				<div class="row">
				    <div class="col">
				      {{ form.apellido.label(class="form-control-label") }}
			        	{{ form.apellido(class="form-control form-control-md") }}
				    </div>
				    <div class="col">
				      	{{ form.nombre.label(class="form-control-label") }}
			        	{{ form.nombre(class="form-control form-control-md") }}
				    </div>
				 </div>

				 <div class="row">
				    <div class="col">
				      	{{ form.tipo_dni.label(class="form-control-label") }}
			        	{{ form.tipo_dni(class="form-control form-control-md") }}
				    </div>
				    <div class="col">
				      	{{ form.num_dni.label(class="form-control-label") }}
			        	{{ form.num_dni(class="form-control form-control-md") }}
				    </div>
				 </div>

			    <div class="form-group">
			        {{ form.fecha_nacimiento.label(class="form-control-label") }}
			        {{ form.fecha_nacimiento(class="form-control form-control-md") }}
			    </div>

				<div class="row">
				    <div class="col">
				      	{{ form.telefono_ppal.label(class="form-control-label") }}
			        	{{ form.telefono_ppal(class="form-control form-control-md") }}
				    </div>
				    <div class="col">
				      	{{ form.telefono_sec.label(class="form-control-label") }}
			        	{{ form.telefono_sec(class="form-control form-control-md") }}
				    </div>
				 </div>
	   
			    <div class="form-group">
			        {{ form.razon_social.label(class="form-control-label") }}
			        {{ form.razon_social(class="form-control form-control-md") }}
			    </div>
			    <div class="form-group">
			        {{ form.calle.label(class="form-control-label") }}
			        {{ form.calle(class="form-control form-control-md") }}
			    </div>
			    <div class="row">
				    <div class="col">
				      	{{ form.numero.label(class="form-control-label") }}
			        	{{ form.numero(class="form-control form-control-md") }}
				    </div>
				    <div class="col">
				      	{{ form.piso.label(class="form-control-label") }}
			        	{{ form.piso(class="form-control form-control-md") }}
				    </div>
				    <div class="col">
				      	{{ form.departamento.label(class="form-control-label") }}
			        	{{ form.departamento(class="form-control form-control-md") }}
				    </div>
				 </div>
			    <div class="row">
				    <div class="col">
				      	{{ form.localidad.label(class="form-control-label") }}
			        	{{ form.localidad(class="form-control form-control-md") }}
				    </div>
				    <div class="col">
				      	{{ form.provincia.label(class="form-control-label") }}
			        	{{ form.provincia(class="form-control form-control-md") }}
				    </div>
				 </div>
				 <div class="form-group">
			        {{ form.aclaracion.label(class="form-control-label") }}
			        {{ form.aclaracion(class="form-control form-control-md") }}
			    </div>
			    <div class="form-group">
			        {{ form.email.label(class="form-control-label") }}
			        {{ form.email(class="form-control form-control-md") }}
			    </div>
			    <div class="row">
				    <div class="col">
				      	{{ form.username.label(class="form-control-label") }}
			        	{{ form.username(class="form-control form-control-md") }}
				    </div>
				    <div class="col">
				      	{{ form.password.label(class="form-control-label") }}
			        	{{ form.password(class="form-control form-control-md") }}
				    </div>
				 </div>
				 <br>
			     {{ form.submit(class="btn btn-primary btn-customized mb-2") }}
			    
			    <p class="copyright">&copy; SIP Grupo 1.</p>
		    </form>
		</div>
	</div>
</div>
{% endblock %}