{% extends "index.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row">
  		<div class="col-sm-5 col-md-3">
  			<div class="accordion" id="accordionExample">
			  <div class="card">
			    <div class="card-header" id="headingOne">
			      <h2 class="mb-0">
			        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Mis Datos
			        </button>
			      </h2>
			    </div>

			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
			      <div class="card-body">
		        	<p>{{ datos.username }}</p>
		        	<p>{{ datos.email }}</p>
		        	<p>Teléfono Principal: {{ datos.tel_principal }}</p>
		        	{% if datos.tel_secundario is not none %}
		        		<p>{{ datos.tel_secundario }}</p>
		        	{% endif %}
			      </div>
			    </div>
			  </div>
			
			  <div class="card">
				    <div class="card-header" id="headingThree">
				      <h2 class="mb-0">
				        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          Novedades
				        </button>
				      </h2>
				    </div>
			   </div>
  			</div>
  		</div>

  		<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
			<div class="card">
				<div class="card-header">
				    Gestión de Pedidos
				</div>
				<div class="card-body">
				    <h5 class="card-title">Mis Pedidos</h5>
				    <p class="card-text">Ver pedidos previos y actuales</p>
				    <a href="#" class="btn btn-primary btn-sm">Ver Pedidos</a>
				</div>
			</div>
			<br>
			<div class="card">
				<div class="card-header">
				    Gestión de Devolución
				</div>
				<div class="card-body">
				    <h5 class="card-title">Mis Devoluciones</h5>
				    <p class="card-text">Ver devoluciones previas y actuales</p>
				    <a href="#" class="btn btn-primary btn-sm">Ver Devoluciones</a>
				</div>
			</div>

		</div>
	</div>
</div>
<br>
{% endblock %}