{% extends "base.html" %}

{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <form class="form-example" action="" method="POST">
                <h1>Bienvenido</h1>
                <p class="description">Distribuidora Vazquez, Paso del Rey</p>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }} {{ form.username(class="form-control form-control-md") }}
                    <ul>
                        {% for error in form.username.errors %}
                            <li style="color;red;">{{ error }}</li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }} {{ form.password(class="form-control form-control-md") }}
                    <ul>
                        {% for error in form.password.errors %}
                            <li style="color;red;">{{ error }}</li>
                    </ul>
                    {% endfor %}
                </div>

                <small id="emailHelp" class="form-text text-muted">Para registrarse como cliente, haga click <a href="#">AQUÍ</a></small>
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
                <p class="copyright">&copy; SIP Grupo 1.</p>
            </form>
        </div>
    </div>

{% endblock %}
